@import url('https://fonts.googleapis.com/css2?family=Open+Sans:wght@400;700&family=Oswald:wght@700&display=swap');

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    border: none;
    outline: none;
    color: #312a26;
}

/* All Heading Tags*/

h1,
h2,
h3,
h4,
h5,
h6 {
    font-family: 'Oswald', sans-serif;
}

p,
label,
span,
a {
    font-family: 'Open Sans', sans-serif;
}

a:hover {
    color: #c7a17a;
}

body {
    width: 100%;
}

/* Navigation Area */

.nav-area {
    overflow: auto;
    width: 85%;
    margin-left: auto;
    margin-right: auto;
}

.nav-area h1 {
    width: 50%;
    float: left;
    font-size: 25px;
}

.nav-area ul {
    width: 50%;
    float: right;
    text-align: right;
    padding-top: 8px;
    font-weight: bolder;
    font-size: small;
}

.nav-area a {
    text-decoration: none;
}

.nav-area li {
    display: inline-block;
}

/* Banner Area */

.banner {
    height: 520px;
    background-color: orange;
    background-image: url(../images/atf-image.jpg);
    background-size: cover;
    background-position: center;
    margin-bottom: 5%;
}

.banner-content {
    width: 38%;
    position: relative;
    top: 20%;
    left: 7.5%;
}

.banner h2 {
    text-transform: uppercase;
    font-size: 60px;
    line-height: 60px;
    font-weight: 900;
}

.banner a {
    padding: 15px 20px;
    background-color: #312a26;
    color: white;
    display: inline-block;
    text-decoration: none;
    text-transform: uppercase;
    font-weight: 400;
}

.banner span {
    color: #4caf59;
}

.banner p {
    font-style: italic;
    margin-bottom: 15px;
    font-size: small;
    font-weight: 500;
}

/* Ads Area 1*/

.ads {
    overflow: auto;
    width: 85%;
    margin-left: auto;
    margin-right: auto;
    margin-bottom: 5%;
}

.ads-box {
    width: 49.5%;
    float: left;
    height: 280px;
    background-size: cover;
    background-position: center;
    background-color: #312a26;
    position: relative;
}

.ads-box:nth-child(1),
.ads-box:nth-child(3) {
    margin-right: 1%;
}

.ads-box:nth-child(1),
.ads-box:nth-child(2) {
    margin-bottom: 1%;
}

.ads-box:nth-child(1) {
    background-image: url(../images/merchandise1.jpg);
}

.ads-box:nth-child(2) {
    background-image: url(../images/merchandise2.jpg);
}

.ads-text h3 {
    width: 80%;
    padding-left: 10%;
    padding-top: 15%;
    padding-right: 40%;
    padding-bottom: 10px;
    line-height: 110%;
    color: white;
    font-size: 25px;
    text-transform: uppercase;
}

.ads-text a {
    padding-left: 10%;
    padding-right: 40%;
    text-transform: uppercase;
    color: white;
    font-size: small;
}

/* Merchandise Area */

.merchandise {
    text-align: center;
    overflow: auto;
}

.merchandise-box {
    color: #312a26;
    position: relative;
    width: 85%;
    margin-left: auto;
    margin-right: auto;
}

.merchandise p {
    text-transform: capitalize;
    color: #c7a17a;
    font-style: oblique;
}

.merchandise h2 {
    text-transform: uppercase;
    color:#312a26;
    font-size: 38px;
    padding-top: 8px;
}

.merchandise hr {
    color: #c7a17a;
    width: 10%;
    border-top: solid 3.5px;
    margin-left: auto;
    margin-right: auto;
    display: block;
    margin-top: 15px;
    margin-bottom: 5%;
}

.merchandise-box {
    width: 85%;
    margin-left: auto;
    margin-right: auto;
    overflow: auto;
    position: relative;
}

.product p {
    color: #c7a17a;
    font-size: small;
}

.product {
    display: inline-block;
    margin: auto;
}

.product img {
    /* margin-right: 5px; */
    margin-top: 20px;
    width: 314.8px;
    height: fit-content;
}

.product img:nth-child(1),
.product img:nth-child(2),
.product img:nth-child(3) {
    margin-right: 5px;
}

.product h3 {
    font-size: medium;
}

/* Banner 2 Area */

.banner2 {
    height: 320px;
    width: 85%;
    background-color: orange;
    background-image: url(../images/banner.jpg);
    background-size: cover;
    background-position: center;
    margin-bottom: 5%;
    margin-top: 5%;
    margin-left: 7.5%;
}
.banner2-content {
    text-align: center;
    padding-top: 7%;
}
.banner2-content p {
    color: #c7a17a;
    font-style: oblique;
    font-size: 20px;
}
.banner2-content h2 {
    color: white;
    text-transform: uppercase;
    font-size: 30px;
    margin-top: 8px;
}
.banner2-content a {
    padding: 13px 15px;
    background-color: white;
    color: #312a26;
    display: inline-block;
    text-decoration: none;
    font-weight: 400;
    font-size: small;
    margin-top: 15px;
}

/* 2nd Merchandise Area */

.merchandise-sale {
    text-align: center;
    overflow: auto;
}

.merchandise-sale p {
    text-transform: capitalize;
    color: #c7a17a;
    font-style: oblique;
}

.merchandise-sale h2 {
    text-transform: uppercase;
    color:#312a26;
    font-size: 38px;
    padding-top: 8px;
}

.merchandise-sale hr {
    color: #c7a17a;
    width: 10%;
    border-top: solid 3.5px;
    margin-left: auto;
    margin-right: auto;
    display: block;
    margin-top: 15px;
    margin-bottom: 3%;
}
