@import url('https://fonts.googleapis.com/css2?family=Open+Sans:wght@400;700&family=Oswald:wght@700&display=swap');

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    border: none;
    outline: none;
    color: #312a26;
}

/* All Heading Tags*/

h1,
h2,
h3,
h4,
h5,
h6 {
    font-family: 'Oswald', sans-serif;
}

p,
label,
span,
a {
    font-family: 'Open Sans', sans-serif;
}

a:hover {
    color: #c7a17a;
}

body {
    width: 100%;
}

/* Navigation Area */

.nav-area {
    overflow: auto;
    width: 85%;
    margin-left: auto;
    margin-right: auto;
}

.nav-area h1 {
    width: 50%;
    float: left;
    font-size: 25px;
}

.nav-area ul {
    width: 50%;
    float: right;
    text-align: right;
    padding-top: 8px;
    font-weight: bolder;
    font-size: small;
}

.nav-area a {
    text-decoration: none;
}

.nav-area li {
    display: inline-block;
}

/* Banner Area */

.banner {
    height: 520px;
    background-color: orange;
    background-image: url(../images/atf-image.jpg);
    background-size: cover;
    background-position: center;
    margin-bottom: 5%;
}

.banner-content {
    width: 38%;
    position: relative;
    top: 20%;
    left: 7.5%;
}

.banner h2 {
    text-transform: uppercase;
    font-size: 60px;
    line-height: 60px;
    font-weight: 900;
}

.banner a {
    padding: 15px 20px;
    background-color: #312a26;
    color: white;
    display: inline-block;
    text-decoration: none;
    text-transform: uppercase;
    font-weight: 400;
}

.banner span {
    color: #4caf59;
}

.banner p {
    font-style: italic;
    margin-bottom: 15px;
    font-size: small;
    font-weight: 500;
}

